@using ProjectAmericaNews.Models

@{
    ViewData["Title"] = "Home Page";
}

@model ProjectAmericaNews.Models.IndexViewData

<div class="text-center">
    <h1 class="display-4">@Model.Titulo</h1>
    <p>Learn bout <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
