americanews/ProjectAmericaNews/obj/Debug
americanews/ProjectAmericaNews/bin/Debug
americanews/AmericaNews.Services/bin/Debug
americanews/AmericaNews.Services/obj/Debug
americanews/AmericaNews.Data/obj/Debug
americanews/AmericaNews.Data/bin/Debug

/.vs
/AmericaNews.Data/obj/Release/net8.0
/AmericaNews.Services/obj
/ProjectAmericaNews/obj
