# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfo.cs
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.csproj.AssemblyReference.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfoInputs.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.GeneratedMSBuildEditorConfig.editorconfig
/.vs/americanews/v17/.wsuo
/AmericaNews.Data/bin/Debug/net8.0/AmericaNews.Data.dll
/AmericaNews.Data/bin/Debug/net8.0/AmericaNews.Data.pdb
/AmericaNews.Data/obj/AmericaNews.Data.csproj.nuget.dgspec.json
/AmericaNews.Data/obj/AmericaNews.Data.csproj.nuget.g.props
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.AssemblyInfo.cs
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.AssemblyInfoInputs.cache
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.assets.cache
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.csproj.FileListAbsolute.txt
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.dll
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.GeneratedMSBuildEditorConfig.editorconfig
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.pdb
/AmericaNews.Data/obj/Debug/net8.0/AmericaNews.Data.sourcelink.json
/AmericaNews.Data/obj/Debug/net8.0/refint/AmericaNews.Data.dll
/AmericaNews.Data/obj/project.assets.json
/AmericaNews.Data/obj/project.nuget.cache
/AmericaNews.Services/bin/Debug/net8.0/AmericaNews.Data.dll
/AmericaNews.Services/bin/Debug/net8.0/AmericaNews.Data.pdb
/AmericaNews.Services/bin/Debug/net8.0/AmericaNews.Services.dll
/AmericaNews.Services/bin/Debug/net8.0/AmericaNews.Services.pdb
/AmericaNews.Services/obj/AmericaNews.Services.csproj.nuget.dgspec.json
/AmericaNews.Services/obj/AmericaNews.Services.csproj.nuget.g.props
/AmericaNews.Services/obj/Debug/net8.0/AmericaNews.Services.AssemblyInfo.cs
/AmericaNews.Services/obj/Debug/net8.0/AmericaNews.Services.AssemblyInfoInputs.cache
/AmericaNews.Services/obj/Debug/net8.0/AmericaNews.Services.assets.cache
/AmericaNews.Services/obj/Debug/net8.0/AmericaNews.Services.csproj.AssemblyReference.cache
/AmericaNews.Services/obj/Debug/net8.0/AmericaNews.Services.GeneratedMSBuildEditorConfig.editorconfig
/AmericaNews.Services/obj/project.assets.json
/AmericaNews.Services/obj/project.nuget.cache
/ProjectAmericaNews/.vs/ProjectAmericaNews/config/applicationhost.config
/ProjectAmericaNews/.vs/ProjectAmericaNews/FileContentIndex/868cc35f-56a6-42cc-a867-26e52ab38401.vsidx
/ProjectAmericaNews/.vs/ProjectAmericaNews/FileContentIndex/bdf6fa86-1142-4b15-989f-450d6cbe129a.vsidx
/ProjectAmericaNews/.vs/ProjectAmericaNews/v17/.suo
/ProjectAmericaNews/.vs/ProjectAmericaNews/v17/DocumentLayout.json
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.assets.cache
/ProjectAmericaNews/obj/project.assets.json
/ProjectAmericaNews/obj/project.nuget.cache
/ProjectAmericaNews/obj/ProjectAmericaNews.csproj.nuget.dgspec.json
/ProjectAmericaNews/obj/ProjectAmericaNews.csproj.nuget.g.props
