americanews/ProjectAmericaNews/obj/Debug
americanews/ProjectAmericaNews/bin/Debug
americanews/AmericaNews.Services/bin/Debug
americanews/AmericaNews.Services/obj/Debug
americanews/AmericaNews.Data/obj/Debug
americanews/AmericaNews.Data/bin/Debug

/.vs
/AmericaNews.Data/obj/Release/net8.0
/AmericaNews.Services/obj
/ProjectAmericaNews/obj
/.vs/americanews/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/americanews/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfo.cs
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfoInputs.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.csproj.AssemblyReference.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.GeneratedMSBuildEditorConfig.editorconfig
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfo.cs
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.AssemblyInfoInputs.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.csproj.AssemblyReference.cache
/ProjectAmericaNews/obj/Debug/net8.0/ProjectAmericaNews.GeneratedMSBuildEditorConfig.editorconfig
